
/*Estilizando o html por completo*/
:root {
    /*Utilizando uma ideia de font-size de 62.5% onde eu posso utilizar o atributo rem como tamanho, onde 1 rem = 10px. Ajuda um bloco se ajeitar dependendo do tamanho da tela*/
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Estilizando um body por completo*/
body{
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    padding-top: 95px ;
    background-color:rgb(27, 27, 27);
    color: white;
}

/*Definindo largura e altura do nav*/
nav{
    width: 100%;
    height: auto;
    
}

/*Estilizando o cabeçalho com altura, largura, cor de fundo, cor das letras, margem e posição do elemento*/
.cabecalho{
    width: 100%;
    height: auto;
    background-color: rgb(7, 7, 7);
    color: rgb(0, 190, 248);
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

/*Estilizando o meu nome dentro do cabeçalho*/
.meuNome{
    color: rgb(0, 190, 248);
    width: 20rem;
    margin: 0;
    margin-top: 1rem;
    margin-left: 5rem;
    float: left;
    font-weight: 800;
    text-decoration: none;
}

/* Fazendo toda a lista flutuar a direita*/
.listaMenu{
    float: right;
}

/*Estilizando os "li" da lista para deixar alinhado lado a lado e margens e estilo da lista*/
.listaMenu li {
    display: inline-block;
    margin-right: 2rem;
    list-style: none;
    margin-top: 20px;
}

/*Estilizando as tag a dentro das listas*/
.listaMenu li a{
    text-decoration: none;
    padding: 1rem 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight:700;
    border-radius: 8px;
}

/* Definindo background inicial para o item "Sobre mim no cabeçalho*/
#sobreMim{
    background-color: #494848;
}


/* adicionando um hover à tag a, quando eu passar o mouse por cima de cada tag a, ira mudar a cor do elemento*/ 
.listaMenu li a:hover{
    color: rgb(0, 190, 248);
}

/*Estilizando o classe eu, que se refere ao texto "Sobre mim"*/
.titulo{
    margin: 0 auto;
    font-family:serif;
    text-align: center;
    color: rgb(0, 190, 248);
    margin-top: 50px;

    font-size: 4.5rem;
}

/*Estilizando o corpo principal da página*/
.container{
    width: 100%;
    margin: 0 auto;
}

/*Estilizando a div que emgloba 3 outras divs, deixando-as centralizadas e uma ao lado da outra*/
.cards{
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 80px;

 
}

/*Estilizando os cards contendo Quem sou eu, hobbies e experiências profissionais*/
.minhasCoisas{
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    width: 100%;
    margin: 10px;
    text-align: center;
    background-color:rgb(27, 27, 27);
    clear: left;
    z-index: 0;
}

/*Estilizando os 3 subtítulos ao mesmo tempo*/
.minhasCoisas h3{
    font-size: 2.5rem;
    font-family:serif;
    font-weight: 800;
    color: rgb(0, 190, 248);
}

/*Estilizando todos os paragráfos dos 3 cards*/
.minhasCoisas p{
    text-align: justify;
    margin-left: 15px ;
    margin-right: 15px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}

/*Estilizando imagem dentro dos cards, todas terão uma só estilização cards referentes ao tema "sobre mim"*/
.img{
    width: 30%;
    border-radius: 50%;
    float: right;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid black;
    clear: right ;
    
}

/*deixando uma margin entre o tema jogo e subtítulo*/
.jogo{
    margin-top: 50px;
}

/*deixando uma margem entre os dois elementos dos hobbies*/
.shopping{
    margin-top: 100px;
}

/* adicionando uma margem entre os elementos dentro do card experiências profissionais*/
.exp1{
    margin-bottom: 40px;
}

/* adicionando uma margem entre os elementos dentro do card experiências profissionais*/
.exp2 .exp3{
    margin-top: 10px;
}


/* ajustando margem abaixo para separar as formação e portfolio*/
.formacao{
    margin-bottom: 100px;
}
/*ajustando tamanho e margin top da div formação*/
.curso{
    width: 100%;
    margin-top: 60px;

}

/*Estilizando paragráfo referente sobre o meu curso em "Formação"*/
.curso p{
    text-align: justify;
    margin-left: 40px ;
    margin-right: 40px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}



/*Estilizando a imagem do tema "Formação*/
.imgCurso{
    width: 25%;
    height: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    border: 1px solid black;
    float: left;
    margin: 15px;
    clear: right;
}

/*Estilizando a sessão por completo de Portfólio*/
.portfolio{
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
    clear: left;
}


/* Estilizando os cards referente ao portfolio como um todo*/
.cardPortfolio{
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    width: auto;
    height: auto;
    margin: 10px;
    text-align: center;
    background-color:rgb(27, 27, 27);

}

/* Estilizando as imagem referente ao portfolio*/
.imgPorjetos{
    width: 80%;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    border: 1px solid black;
}

/* dando uma margem a esqueda para centralizar melhor a imagem*/
.cardSite{
    margin-left: 20px;
}

/* Estilizando os links referente a cada projeto de cada imagem do portfolio*/
.cardSite a{
    text-decoration: none;
    color: rgb(0, 190, 248);
    margin: 0 auto;
    margin-right: 30px;
    margin-left : 30px;
}

.footer{
    margin-top: 10rem;
}

/* Estiliando o formulário por completo, de forma global*/
.formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
}

/* alterando o tamanho padrão do form*/
.formulario form{
    width: 40%;
}

/* Estilizando a tag label de forma geral, assim todas as label tetão a mesma estilização*/
.formulario label{
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 190, 248);
}

/* Definindo o tamanho e margin de cada input*/
.areaEntrada{
    width: 100%;
    margin-top: 2rem;
}

/*Estilizando os inputs, como os dois possuem a mesma classe, então os dois inputs, terão a mesma estilização*/
.entrada{
    margin: 0 auto;
    height: 3rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(46, 45, 45);
    color: white;
}

/* adicionando animação, onde quando o input estiver em foco, ira alterar a cor da sua borda*/
.entrada:focus{
        outline: none;
        border: 1px solid rgb(0, 190, 248);
}

/* Alterando o tamanho e margin da tag select de forma geral*/
.areaSelecao{
    width: 100%;
    margin-top: 2rem;
}

/* Estilizando a tag  Select*/
.selecione{
    margin: 0 auto;
    height: 3rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(46, 45, 45);
    color: white;
    margin-bottom: 3rem;
}

/* Alterando tamanho e margin da tag textarea*/
.areaMensagem{
    width: 100%;
    margin-top: 2rem;
}

/* Estilizando o textarea */
.areaMensagem textarea{
    width: 100%;
    background-color: rgb(46, 45, 45);
    border: none;
    color: white;
}

/* adicionando animação, onde quando o textarea estiver em foco, ira alterar a cor da sua borda*/
.areaMensagem textarea:focus{
    outline: none;
    border: 1px solid rgb(0, 190, 248);
}


/*Estilizando o botão*/
.btn{
    margin-top: 4rem;
    margin-bottom: 10rem;
    width: 100%;
    height: auto;
    background-color: rgb(0, 190, 248) ;
    border: none;
    font-size: 16px;
    padding: 1rem;
    border-radius: 8px;
}


/* adicionando efeito hover ao botão*/
.btn:hover{
    background-color:  rgb(0, 135, 177) ;
    cursor: pointer;
}


/*Deixa a primeira letra com espaçamento a esquerda.*/
p::first-letter{
    margin-left: 40px;
}

.navModal{
    display: none;
}





.btnModal{
    display: none;
}

.modal{
    display: none;
}


@media (max-width: 1000px){
    .navegação{
        display: none;
    }

    header{
        height: 100px;
    }
    .btnModal{
        display: flex;
        float: right;
        margin-right: 30px ;
        margin-top: 35px;
        border-radius: 5px;
    }

    .cards, .portfolio{
        display: flex;
        flex-direction: column;
    }

    .areaEntrada input{
        width: 100%;
    }
    .formulario form{
        width: 80%;
    }
    .modal{
        position: fixed;
        background-color: rgb(7, 7, 7);
        width: 183px;
        border: 1px solid black;
        height: 300px;
        margin-top: 0;
        float: right;
        z-index: 100;
        left: 75%;
    }
    .navModal{
        display: block;
        width: 200px;

    }
    .listaModal li{
        list-style: none;
        margin-top: 50px;
    }

    .listaModal li a {
        text-decoration: none;
        color: white;   
    }

}

@media (max-width: 500px){
    .modal{
        left: 58%;
    }
}

















