
/*Estilizando o html por completo*/
:root {
    /*Utilizando uma ideia de font-size de 62.5% onde eu posso utilizar o atributo rem como tamanho, onde 1 rem = 10px. Ajuda um bloco se ajeitar dependendo do tamanho da tela*/
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Estilizando um body por completo*/
body{
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    padding-top: 95px ;
    background-color:rgb(27, 27, 27);
    color: white;
}

/*Definindo largura e altura do nav*/
nav{
    width: 100%;
    height: auto;
    
}

/*Estilizando o cabeçalho com altura, largura, cor de fundo, cor das letras, margem e posição do elemento*/
.cabecalho{
    width: 100%;
    height: auto;
    background-color: rgb(7, 7, 7);
    color: white;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

/*Estilizando o meu nome dentro do cabeçalho*/
.meuNome{
    width: 20rem;
    margin: 0;
    margin-top: 1.3rem;
    margin-left: 5rem;
    color: bisque;
    float: left;
    font-weight: 800;
}

/* Fazendo toda a lista flutuar a direita*/
.listaMenu{
    float: right;
}

/*Estilizando os "li" da lista para deixar alinhado lado a lado e margens e estilo da lista*/
.listaMenu li {
    display: inline-block;
    margin-right: 2rem;
    list-style: none;
}

/*Estilizando as tag a dentro das listas*/
.listaMenu li a{
    text-decoration: none;
    padding: 1rem 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight:700;
    border-radius: 8px;
}

#sobreMim{
    background-color: #494848;
}


/* adicionando um hover à tag a, quando eu passar o mouse por cima de cada tag a, ira mudar a cor do elemento*/ 
.listaMenu li a:hover{
    color: rgb(0, 190, 248);
}

/*Estilizando o classe eu, que se refere ao texto "Sobre mim"*/
.titulo{
    margin: 0 auto;
    font-family:serif;
    text-align: center;
    color: rgb(0, 190, 248);
    margin-top: 50px;

    font-size: 4.5rem;
}

/*Estilizando o corpo principal da página*/
.container{
    width: 100%;
    margin: 0 auto;
}

/*Estilizando a div que emgloba 3 outras divs, deixando-as centralizadas e uma ao lado da outra*/
.cards{
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 80px;

 
}

/*Estilizando os cards contendo Quem sou eu, hobbies e experiências profissionais*/
.minhasCoisas{
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    width: 100%;
    margin: 10px;
    text-align: center;
    background-color:rgb(27, 27, 27);
    clear: left;
}

/*Estilizando os 3 subtítulos ao mesmo tempo*/
.minhasCoisas h3{
    font-size: 2.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-decoration: underline;
}

/*Estilizando todos os paragráfos dos 3 cards*/
.minhasCoisas p{
    text-align: justify;
    margin-left: 15px ;
    margin-right: 15px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}

/*Estilizando imagem dentro dos cards, todas terão uma só estilização*/
.img{
    width: 30%;
    border-radius: 50%;
    float: right;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid black;
    clear: right ;
    
}

/*deixando uma margin entre o tema jogo e subtítulo*/
.jogo{
    margin-top: 50px;
}

/*deixando uma margem entre os dois elementos dos hobbies*/
.shopping{
    margin-top: 100px;
}

/* adicionando uma margem entre os elementos dentro do card experiências profissionais*/
.exp1{
    margin-bottom: 40px;
}

/* adicionando uma margem entre os elementos dentro do card experiências profissionais*/
.exp2 .exp3{
    margin-top: 10px;
}


/* ajustando margem abaixo para separar as duas sessões*/
.formacao{
    margin-bottom: 100px;
}
/*ajustando tamanho e margin top da div formação*/
.curso{
    width: 100%;
    margin-top: 60px;

}

.curso p{
    text-align: justify;
    margin-left: 40px ;
    margin-right: 40px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}



/*Estilizando a imagem do tema "Formação*/
.imgCurso{
    width: 25%;
    height: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    border: 1px solid black;
    float: left;
    margin: 15px;
    clear: right;
}

/*Estilizando a sessão por completo de Portfólio*/
.portfolio{
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    clear: left;
}


.cardPortfolio{
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgb(7, 7, 7);
    width: auto;
    height: auto;
    margin: 10px;
    text-align: center;
    background-color:rgb(27, 27, 27);

}

.imgPorjetos{
    width: 100%;
    margin-bottom: 30px;
}

.cardSite a{
    text-decoration: none;
    color: rgb(0, 190, 248);
    margin-right: 60px;
}

















